<?xml version="1.0"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<appSettings>
		<add key="strConexao" value="Database=falcon_db;Server=falcondb.mysql.database.azure.com;UserId=Bruno@falcondb;Password=123Mudei1;SslMode=Preferred"/>
	</appSettings>
	<system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="MySql.Data, Version=8.0.20.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <urlMappings>
      <add url="~/index" mappedUrl="~/Index.aspx"/>
      <add url="~/tecnicos" mappedUrl="~/Pages/Techs/Tecnicos.aspx"/>
	  <add url="~/chamados" mappedUrl="~/Pages/Solicitante/Index.aspx"/>
	  <add url="~/equipamentos" mappedUrl="~/Pages/Techs/Equipamento.aspx"/>
	  <add url="~/inicio" mappedUrl="~/Pages/Techs/Index.aspx"/>
	  <add url="~/" mappedUrl="~/Index.aspx"/>
    </urlMappings>
  </system.web>
  <system.codedom>
	  <compilers>
		  <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701;612;618" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			  <providerOption name="CompilerVersion" value="v4.0"/>
			  <providerOption name="WarnAsError" value="false"/>
		  </compiler>
	  </compilers>
  </system.codedom>
</configuration>